<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <title>Sam API Survey</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
    </head>
    <body>

    <!-- Header -->
    <header id="header">
        <a href="{{ path('home') }}" class="logo">Sam Api Survey</a>
    </header>

    {% block body %}{% endblock %}

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <h2>Get In Touch</h2>
            <ul class="actions">
                <li><span class="icon fa-envelope"></span> <a href="javascript:void(0);">cedric.badjah@gmail.com</a></li>
                <li><span class="icon fa-map-marker"></span> Montpellier, Occitanie.</li>
            </ul>
        </div>
        <div class="copyright">
            &copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
        </div>
    </footer>

    <!-- Scripts -->
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.scrolly.min.js') }}"></script>

    <script src="{{ asset('assets/js/util.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>

    </body>
</html>
